.cardPicture{
    max-width: 150px;
    width: 100%;
    min-height: 150px;
    margin-top: 15px;
    margin-left: 20px;
}
.cardTitle{
    display: flex;
    align-items: center;
}
.cardSubtitle{
    margin-right: 20px;
}
.audioIcon{
    margin-left: 20px;
}
.isDifficaltWord{
    border: 2px solid red;
}

.isLearnedWord{
    border: 2px solid yellow;
}