.cardPicture{
    max-width: 150px;
    width: 100%;
    min-height: 150px;
    margin-top: 15px;
    margin-left: 20px;
}
.cardTitle{
    display: flex;
    align-items: center;
}
.cardSubtitle{
    margin-right: 20px;
}
.audioIcon{
    margin-left: 20px;
}
.isDifficaltWord{
    color: rgba(225, 140, 230, 1);
}
.isLearnedWord{
   color: rgb(20, 173, 97);
}

.bookPage {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 30px;

    .header {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-bottom: 40px;
    }
}

.card {
    max-width: 350px;
    margin-bottom: 20px;
}

.translate {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        font-size: 20px;
    }
}

.buttonsContainer{
    display: flex;
    align-items: center;
}

